ul.list-start li {
  padding: 14px 16px;
  text-align: center;
}

.list-start {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

/* This is not really a button.  I made it a link and put a box around it */
.start-button-text {
  color: white;
  font-weight: bold;
}

.start-button-text:hover {
  background-color: #33c7ff;
  color: black;
  text-decoration: none;
}
