body {
  background-color: #32325b;
  color: white;
  margin: 0 auto;
  padding: 20px 20px;
  width: 60%;
}

.home2buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  text-align: center;
}

.bg-image {
  background: url("https://st2.depositphotos.com/1692343/6719/i/450/depositphotos_67196213-stock-photo-assorted-beers-in-a-flight.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  /* background-size: 2500px 1000px; */
  background-size: 100% 100%;
}

.bg-imagelogin {
  background: url("https://images.pond5.com/beer-glass-bubbles-slow-motion-footage-038919172_iconl.jpeg") no-repeat center center fixed;
  background-repeat: no-repeat;
  /* background-size: 2000px 1000px; */
  background-size: 100% 100%;
  color: black;
}

nav {
  display: block;
}

.mainformat {
  background-color: grey;
  border-style: double;
}

.welcome {
  background-color: #32325b;
  text-align: center;
  padding: 25px;
}

.contact-us-page {
  width: auto;
}

.btn-block {
  width: 45%;
}

select option {
  background-color: beige;
}

.form-control {
  background-color: beige;
}

.formlogin {
  padding: 50px;
  width: 100%;
}

.formformpage {
  width: 90%;
  padding: 50px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: lightsalmon;
  color: black;
}

.nav-tabs .nav-item {
  color: black;
}

.nav-tabs .nav-link {
  background-color: beige;
}

.header {
  display: flex;
  justify-content: center;
  /* position: relative; */
}

h1 {
  font-family: "Luminari, fantasy";
  font-size: 100px;
  margin-top: 100px;
  padding: 25px;
}

label {
  font-weight: bold;
}

.valueSpan {
  font-size: 28px;
}

.g-profile-image {
  margin: 0 10px;
}

/* Styles for Logger History Page */
.beer-entry-img-li {
  list-style: none;
}

.beer-entry-img {
  width: 40%;
}

.display-logged-history {
  display: flex;
}

.beer-entry {
  flex: 0 1 auto;
  margin: 20px 20px;
  padding: 20px 20px;
}

/* End Styles for Logger History Page */
